body{
    background-color: #400504;
    margin:0px;
}
#main-container{
    color:white;
    background-color: #c70404;
    position: absolute;
    left:25%;
    top:10%;
    width:50%;
    height: auto;
}
.side{
    background-color: #ea1304;
    width:10%;
    height: 105%;
    top:-1%;
    left:1%;
    position: fixed;

}
h1,h2,h3,h4,p{
    text-align: center;

}
#note{
    position: absolute;
    width:20%;
    height: 10%;
    top:80%;
    left:20%;
    color: white;
}